.App {
  font-family: sans-serif;
  text-align: center;
}

#num {
  text-align: center;
  font-size: 165px;
  margin-top: 0px;
  color: white;
}

button {
  font-size: xx-large;
  font-family: cursive;
  margin-top: 10px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: auto;
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2016/01/14/21/33/christmas-1140818_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
